RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_URI} ^/proxy\.php$ [NC]
RewriteRule ^ - [L]

RewriteRule ^(.*)$ index.php [L]
